<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Assignment Submission</title>
        <link rel="icon" href="https://www.pinclipart.com/picdir/middle/536-5365222_vector-student-icon-png-clipart.png" size="16x16">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
     integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="style.css">
</head>
<body>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Enrollment No.</th>
      <th scope="col">  Branch</th>
      <th scope="col">  Subject</th>
      <th scope="col">Submissions</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each list}}
    <tr>
      <td>{{this.firstName}}</td>
      <td>{{this.lastName}}</td>
      <td>{{this.eno}}</td>
      <td>{{this.branch}}</td>
      <td>{{this.submain}}</td>
       

      <td>
       <a href="{{this.subject}}" target="_blank">{{this.subject}}</a> 
      </td>
    </tr>
     {{/each}}
  </tbody>
</table>
<a href="/welcom"><input type="submit" value="Home" style="width:10%;height:10%; margin-left:45%" /></a>
</body>
</html>